client/**/* linguist-language=JavaScript
server/**/* linguist-language=JavaScript

*.js linguist-detectable=true
*.jsx linguist-detectable=true
*.ts linguist-detectable=true
*.tsx linguist-detectable=true
